body {
  background-color: #f7f7f7 !important;
}
strong {
  font-weight: bold;
}
.myheader-root {
  width: 100%;
  background-color:#343a40;
  padding-top:2rem;
  padding-bottom:2rem;
  font-weight: bold;
  display: flex;
  flex: auto;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.myheader-body {
  color: #cfcfcf !important;
  width: 75%;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  display: inline-flex;
  margin: auto;
}
.myheader-body div {
  color: inherit !important;
  margin-left: 1rem;
}
.myheader-body div a {
  color: inherit !important;
  text-decoration: none !important;
}
.myheader-hoverable :hover{
  color: #ffffff !important;
}

.myheader-fill {
  flex: 1;
}

.product-card {
  border: 1px solid transparent !important;
  background-color: #f7f7f7 !important;
  cursor: pointer;
}
.product-card:hover {
  border: 1px solid !important; 
  background-color: #ffffff !important; 
}
.card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.product-detail div {
  background-color: #f7f7f7 !important;
}
main {
  min-height: 80vh;
}
.center {
  margin: auto;
  text-align: center;
}
.rating span {
  margin: 0.01rem;
}

#list-area {
  flex: auto;
}

#list-area a {
  color: #343a40;
  text-decoration: none !important;
  display: inline-block;
}
.sort-button {
  text-align: center;
  font-weight: bold;
  width: 200px;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 75px;
}
.sort-button-selected {
  color: #ffffff !important;
  background-color: #343a40;
}

#productform input::-webkit-outer-spin-button,
#productform input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}